<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA Stats</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body>
    <div class="containter">
        <div class="item player">
            <% if(locals.content) {%>
                <% if (content.data.first_name && content.data.last_name) {%>
                <h1><%= content.data.first_name + " " + content.data.last_name %></h1>
                <% } else { %>
                    <h1>Name Unavailable</h1>
                <% } %>
            <% } else { %>
            <h1>Player</h1>
            <% } %>
        </div>
        <div class="item random">
            <form id="search" class="form" method="post">
                <input type="submit" value="Randomize" formaction="/get-player">
            </form>
        </div>
        
        <div class="item info">
            <h2>Player Info</h2>
            <% if(locals.content) { %>
                <p>
                <% if(content.data.team.full_name) { %>
                    Team: <%= content.data.team.full_name %> <br>
                <% } %>
                <% if(content.data.position) { %>
                    Position: <%= content.data.position %> <br> 
                <% } %>
                <% if(content.data.height) { %>
                    Height: <%= content.data.height %> <br>
                <% } %>
                <% if(content.data.weight) { %>
                    Weight: <%= content.data.weight %> lbs <br>
                <% } %>
                <% if(content.data.jersey_number) { %>
                    Jersey Number: <%= content.data.jersey_number %> <br>
                <% } %>
                <% if(content.data.college) { %> 
                    College: <%= content.data.college %> <br>
                <% } %>
                <% if(content.data.draft_year) { %>
                    Draft Year: <%= content.data.draft_year %> <br>
                <% } %>
                <% if(content.data.draft_round) { %>
                    Draft Round:  <%= content.data.draft_round %> <br>
                <% } %>
                <% if(content.data.draft_number) { %>
                    Draft Number: <%= content.data.draft_number %> <br>
                <% } %>
            </p>
            <% } else {%>
                <p>Player Info Unavailable</p>
            <% } %>
        </div>
        <div class = "item stats">
            <h2>Player Stats (Current Season Only)</h2>
            <% if(locals.stats) {%>
                <p>
                <% if(!stats.data[0]) { %>
                    No Stats For Current Season
                <% } else { %>
                    <% if(stats.data[0].pts) { %>
                        PPG: <%= stats.data[0].pts %> <br>
                    <% } %>
                    <% if(stats.data[0].ast) { %>
                        APG: <%= stats.data[0].ast %> <br>
                    <% } %>
                    <% if(stats.data[0].reb) { %>
                        RPG: <%= stats.data[0].reb %> <br>
                    <% } %>
                    <% if(stats.data[0].stl) { %>
                        SPG: <%= stats.data[0].stl %> <br>
                    <% } %>
                    <% if(stats.data[0].blk) { %>
                        BPG: <%= stats.data[0].blk %> <br>
                    <% } %>
                    <% if(stats.data[0].turnover) { %>
                        TO: <%= stats.data[0].turnover %> <br>
                    <% } %>
                    <% if(stats.data[0].fg_pct) { %>
                        FG%: <%= stats.data[0].fg_pct %> <br>
                    <% } %>
                    <% if(stats.data[0].fg3_pct) { %>
                        3P%: <%= stats.data[0].fg3_pct %> <br>
                    <% } %>
                    <% if(stats.data[0].ft_pct) { %>    
                        FT%: <%= stats.data[0].ft_pct %> <br>
                    <% } %>
                    <% if(stats.data[0].games_played) {%>
                        GP: <%= stats.data[0].games_played %> <br>
                    <% } %>
                <% } %>
                </p>
            <% } else { %>
                <p>Stats Unavailable</p>
            <% } %>
        </div>
    </div>
</body>
</html>